Repository hoangndm3139/NextJS-Base: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: fix test fail with msw
  jest.config.ts
  jest.setup.ts
  package.json
Due: eslint --fix, prettier --write

feat: remove comment
  src/services/apis/user/getUserInfo/types.ts
Due: eslint --fix, prettier --write

feat: check ci
  .github/workflows/pr-checks.yml
Due: none

feat: setup ci
  .github/workflows/pr-checks.yml
  .gitignore
Due: none

feat: update config ci
  .github/workflows/pr-checks.yml
Due: none

feat: config storybook
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/components/atoms/Button.stories.ts
  src/components/atoms/button.test.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: eslint --fix, prettier --write

feat: [FE][CD][Common] setup and config storybook
  .storybook/main.ts
  src/components/atoms/Button.stories.ts
  src/components/atoms/button.test.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: eslint --fix, prettier --write

feat: [FE][CD][Common] update config storybook
  eslint.config.mjs
  package.json
Due: prettier --write

feat: add favicon
  public/favicon.png
Due: none

feat: remove storyIndexers and update storybook of Button
  .storybook/main.ts
  src/components/atoms/Button.stories.ts
Due: eslint --fix, prettier --write

feat: add pull request template
  .github/workflows/PULL_REQUEST_TEMPLATE.md
  .github/workflows/PULL_REQUEST_TEMPLATE/bugfix.md
  .github/workflows/PULL_REQUEST_TEMPLATE/chore.md
  .github/workflows/PULL_REQUEST_TEMPLATE/feature.md
  .github/workflows/PULL_REQUEST_TEMPLATE/refactor.md
Due: prettier --write

feat: add base tailwindcss
  .gitignore
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/app/[lang]/layout.tsx
  src/app/[lang]/page.tsx
  src/app/globals.css
  src/app/layout.tsx
Due: eslint --fix, prettier --write

feat: update check ci
  .github/workflows/pr-checks.yml
  .gitignore
Due: none

feat: setup storybook with msw
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/app/[lang]/page.tsx
  src/components/atoms/Button/Button.stories.ts
  src/components/atoms/Button/button.test.tsx
  src/components/atoms/Button/button.tsx
  src/components/molecules/UserProfile/index.stories.ts
  src/components/molecules/UserProfile/index.tsx
Due: eslint --fix, prettier --write

feat: update prcheck hooks
  .github/workflows/pr-checks.yml
Due: none

feat: update template directory
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/bugfix.md
  .github/PULL_REQUEST_TEMPLATE/chore.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/refactor.md
Due: prettier --write

feat: handle init typography
  package.json
  public/mockServiceWorker.js
  src/components/atoms/typography/index.tsx
Due: eslint --fix, prettier --write

fix: font-family
  src/app/globals.css
  src/app/layout.tsx
Due: eslint --fix, prettier --write

refactor: refactor middleware
  middleware.ts
  package.json
  src/app/middleware.ts
  src/middleware/handlers/authHandler.ts
  src/middleware/handlers/localeHandler.ts
  src/middleware/handlers/securityHandler.ts
  src/middleware/index.ts
  src/middleware/utils/constants.ts
  src/middleware/utils/helpers.ts
  src/services/apis/fetchWrapper.ts
Due: eslint --fix, prettier --write

refactor: refactor middleware
  src/components/templates/toast.tsx
  src/utils/getDictionary.ts
Due: eslint --fix, prettier --write

feat: add button state common
  src/app/[lang]/page.tsx
  src/app/globals.css
  src/components/atoms/Button/Button.stories.ts
  src/components/atoms/Button/button.tsx
Due: eslint --fix, prettier --write

fix: fix typecheck
  src/components/atoms/Button/button.test.tsx
Due: eslint --fix, prettier --write

fix: update middleware for authentication
  src/components/atoms/typography/index.tsx
  src/middleware/handlers/authHandler.ts
  src/middleware/handlers/localeHandler.ts
  src/middleware/index.ts
  src/middleware/utils/helpers.ts
Due: eslint --fix, prettier --write

revert: revertconfig
  next.config.ts
Due: eslint --fix, prettier --write

feat: config tailwind css for storybook
  .storybook/preview.ts
Due: eslint --fix, prettier --write

fix: add global decoration for applying font to storybook
  .storybook/preview.tsx
Due: eslint --fix, prettier --write

chore: remove redundant file
  .github/PULL_REQUEST_TEMPLATE/bugfix.md
  .github/PULL_REQUEST_TEMPLATE/chore.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/refactor.md
Due: prettier --write

chore: remove mock component in page
  src/app/[lang]/page.tsx
Due: eslint --fix, prettier --write

refactor: rename button state file
  src/components/atoms/Button/index.stories.ts
  src/components/atoms/Button/index.test.tsx
  src/components/atoms/Button/index.tsx
Due: eslint --fix, prettier --write

feat: create button responsive
  public/icons/icon_arrows/ic_arrow-triangle-sharp.svg
  src/components/atoms/ButtonResponsive/index.stories.ts
  src/components/atoms/ButtonResponsive/index.tsx
Due: eslint --fix, prettier --write

feat: create button card
  src/components/atoms/ButtonCard/index.stories.ts
  src/components/atoms/ButtonCard/index.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{json,md,css,html})
